{%  extends 'accounts/base.html' %}
{% load static %}
{% block bodyblock %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete "{{order.product}}"?</p>

			<form action="{% url 'accounts:deleteorder' pk=order.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'accounts:index' %}">Cancel</a>

				<input class="btn btn-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>

{% endblock %}
